* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   width: 60%;
   position: relative;
}

.booksInfo {
   margin-top: 2%;
   padding: 5%;
}

h1 {
   text-align: center;
}

button {
   margin: 5px;
   padding: 5px;
}

.nav {
   display: flex;
   justify-content: center;
}

.editBook {
   position: fixed;
   width: 40%;
   top: 20%;
   left: 20%;
   padding: 5%;
   background-color: rgb(221, 237, 238);
   margin: auto;
}

input {
   padding-left: 20px;
}

select {
   width: 100%;
   margin-top: 5%;
   height: 40px;
   border-radius: 5px;
   padding-left: 20px;
}

.nav {
   display: flex;
   justify-content: center;
   margin-top: 5%;
}

@media (max-width: 720px) {
   .container {
      width: 90vw;
      margin: auto;
   }
   .editBook {
      width: 100%;
      top: 0;
      left: 0;
   }
}