* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.libraryWrap {
    width: 60%;
    position: relative;
}

table {
    width: 100%;
}

button {
    padding: 5px;
    margin-left: 5px;
}

.hover {
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.inp {
    width: 70%;
}

.searchRes :hover {
    cursor: pointer;
}

.searchRes p {
    width: 90%;
    background-color: rgb(230, 220, 220);
    text-align: center;
    margin: auto;
}
.createBtn{
    margin-top: 5%;
}
.create{
    position: absolute;
    width: 90%;
    background-color: rgb(221, 237, 238);
    top: 5%;
    left: 5%;
    padding: 5%;

}
.create button{
    margin-top: 5%;
}

@media (max-width: 720px) {
    .libraryWrap {
        width: 95vw;
        margin: auto;
    }
}